exportPattern("^[[:alpha:]]+")

import(Matrix, except=tail)
import(
  truncnorm,
  tseries
)

importFrom("interp",    "interp")
importFrom("expm",      "sqrtm")
importFrom("MASS",      "mvrnorm")
importFrom("methods",   "as")
importFrom("SpatialGraph", "pointsToLines", "pointOnLine")
importFrom("splancs",   "n2dist")
importFrom("stats",      "approx", "coef", "lm", "qnorm", "quantile",
           "rnorm", "runif", "sd", "shapiro.test", "var")
importFrom("utils",     "installed.packages", "tail")
