#exportPattern("^[[:alpha:]]+")

import(Matrix, except=tail)
import(
  truncnorm,
  tseries
)

importFrom("interp",    "interp")
importFrom("expm",      "sqrtm")
importFrom("MASS",      "mvrnorm")
importFrom("methods",   "as")
importFrom("splancs",   "n2dist")
importFrom("stats",      "approx", "coef", "lm", "qnorm", "quantile",
           "rnorm", "runif", "sd", "shapiro.test", "var")
importFrom("utils",     "installed.packages", "tail")

export(
        analyseUG,
        anamFit,
        approxM,
        assimilateLite,
        blkdiag,
        calcHnn,
        datePOSIXct,
        deg2gms,
        getEsensitivity,
        getThetaG,
        getThetaWLM,
        gms2deg,
        gridMax,
        hypot,
        interpEarth,
        linearScale,
        mcEnsemble,
        nnGpos,
        orthoEnsemble,
        qpow35,
        sqrtm_rs,
        subsampleX,
        tlag,
        wSigma
      )
